@import "tailwindcss";

@theme {
  --font-sans: var(--font-sf), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  .font-louize {
    font-family: var(--font-helvetica);
  }
  
  .font-sf {
    font-family: var(--font-sf);
  }
}